*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
.bsp
.metals
.vscode
.bloop
project/project
project/target
project/.bloop
project/metals.sbt
target